yfinance
dotenv
pandas
numpy
scikit-learn
sqlalchemy<2.0
pathlib
psycopg2-binary
# tensorflow==2.16.1 # now the below line is replaced with cpu to make production lite for render
tensorflow-cpu==2.16.1
fastapi
uvicorn
pytest
httpx
dvc[s3]
awscli

# Great Expectations Dependencies
great_expectations==0.16.16
# boto3
ruamel.yaml<0.18        # required for GE 0.16.x CLI
pyspark