yfinance
dotenv
pandas
numpy
scikit-learn
sqlalchemy
pathlib
psycopg2-binary
# tensorflow==2.16.1 # now the below line is replaced with cpu to make production lite for render
tensorflow-cpu==2.16.1
fastapi
uvicorn
pytest
httpx
dvc[s3]
awscli
# boto3