yfinance
dotenv
pandas
numpy
scikit-learn
sqlalchemy<2.0
pathlib
psycopg2-binary
# tensorflow==2.16.1 # now the below line is replaced with cpu to make production lite for render
tensorflow-cpu==2.16.1
fastapi
uvicorn
pytest
httpx
# dvc[s3]
# awscli

# # Great Expectations Dependencies
# great_expectations==0.16.16

# # This below packages are required by runner as it looks for these libraries even though they are not being used
# pyspark
# google-cloud-storage
# google-cloud-secret-manager
# azure-storage-blob
# azure-identity
# azure-keyvault-secrets

# # Evidently requirements
# evidently==0.3.2